<!-- mercury.html -->
{% extends 'layouts/base.html' %} {% block title %} Standford Lock-in SR830 {% endblock title %} {% block content %}
<!-- Page content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8"></div>
          </div>
        </div>
        <div class="card-body">
          {% if messages %} {% for message in messages %} {% if message.tags == 'info' %}
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% elif message.tags == 'warning' %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% elif message.tags == 'success' %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% elif message.tags == 'error' %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %} {% endfor %} {% endif %}

          <form method="post" action="{% url 'sr_page' %}" id="sr_form">
            {% csrf_token %}
            <div class="col-12">
              <div class="row">
                <div class="col-6 text-right">
                  <a href="{% url 'home' %}" class="btn btn-sm btn-secondary">Back</a>
                </div>
              </div>
            </div>
            <hr class="my-4"/>


            <h6 class="heading-small text-muted mb-4">SR830 Configuration</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <button type="submit" class="btn btn-sm btn-primary" name="update-all">Update
                  </button>
                </div>
              </div>
              <div class="row">

              </div>
              <div class="row">
                <div class="col-md-6">
                  <button type="submit" class="btn btn-sm btn-primary" name="update-all">Update
                  </button>
                </div>
              </div>
            </div>
            <hr class="my-4"/>


            <h6 class="heading-small text-muted mb-4">SR830 Actual Value</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-x">SR830 X value</label>
                    {% if connected %}
                    <input id="input-x" class="form-control" name="X" placeholder="N/A"
                           type="number" step="any" value="{{X}}" disabled/>
                    {% else %} <input id="input-x" class="form-control" name="X" placeholder="Disconnected"
                                      type="number"
                                      step="any" value="NA" disabled/>
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-y">SR830 Y value</label>
                    {% if connected %}
                    <input id="input-y" class="form-control" name="Y" placeholder="N/A"
                           type="number" step="any" value="{{Y}}" disabled/>
                    {% else %} <input id="input-y" class="form-control" name="Y" placeholder="Disconnected"
                                      type="number"
                                      step="any" value="NA" disabled/>
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-r">SR830 R value</label>
                    {% if connected %}
                    <input id="input-r" class="form-control" name="R" placeholder="N/A"
                           type="number" step="any" value="{{R}}" disabled/>
                    {% else %} <input id="input-r" class="form-control" name="R" placeholder="Disconnected"
                                      type="number"
                                      step="any" value="NA" disabled/>
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-o">SR830 O value</label>
                    {% if connected %}
                    <input id="input-o" class="form-control" name="O" placeholder="N/A"
                           type="number" step="any" value="{{O}}" disabled/>
                    {% else %} <input id="input-o" class="form-control" name="O" placeholder="Disconnected"
                                      type="number"
                                      step="any" value="NA" disabled/>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <button type="submit" class="btn btn-sm btn-primary" name="update-all">Update
                  </button>
                </div>
              </div>
            </div>
            <hr class="my-4"/>
            <div class="col-12">
              <div class="row">
                <div class="col-6 text-right">
                  <a href="{% url 'home' %}" class="btn btn-sm btn-secondary">Back</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block javascripts %}
<script>
    // Get the form element
    const form = document.getElementById("sr_form");

    // Add an event listener to the form
    form.addEventListener("keydown", function (event) {
        // Check if the pressed key is "Enter" (keyCode for Enter is 13)
        if (event.keyCode === 13 || event.key === "Enter") {
            // Prevent the default form submission
            event.preventDefault();
        }
    });

    function LoggingFile(interval) {
        const csrfToken = $("input[name='csrfmiddlewaretoken']").val();

        // Include the CSRF token in the AJAX request headers
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": csrfToken,
            },
        });
        $.ajax({
            url: "{% url 'plot' %}", // URL mapped to the status view
            type: "POST",
            data: {changePage: false},
            dataType: "json",
            success: function (response) {
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
            },
            complete: function () {
                // Call the updatePlot function again after the specified interval
                setTimeout(function () {
                    LoggingFile(interval);
                }, interval);
            },
        });
    }

    LoggingFile(1000);
</script>
{% endblock javascripts %}
