<!-- mercury.html -->
{% extends 'layouts/base.html' %} {% block title %} Standford Lock-in SR830 {% endblock title %} {% block content %}
<!-- Page content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8"></div>
          </div>
        </div>
        <div class="card-body">
          {% if messages %} {% for message in messages %} {% if message.tags == 'info' %}
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% elif message.tags == 'warning' %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% elif message.tags == 'success' %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% elif message.tags == 'error' %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %} {% endfor %} {% endif %}

          <form method="post" action="{% url 'sr_page' %}" id="sr_form">
            {% csrf_token %}
            <div class="col-12">
              <div class="row">
                <div class="col-6 text-right">
                  <a href="{% url 'home' %}" class="btn btn-sm btn-secondary">Back</a>
                </div>
              </div>
            </div>
            <hr class="my-4"/>


            <h6 class="heading-small text-muted mb-4">SR830 Configuration</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <button type="submit" class="btn btn-sm btn-primary" name="update-all">Update
                  </button>
                </div>
              </div>
              <div class="row">

              </div>
              <div class="row">
                <div class="col-md-6">
                  <button type="submit" class="btn btn-sm btn-primary" name="update-all">Update
                  </button>
                </div>
              </div>
            </div>
            <hr class="my-4"/>


            <h6 class="heading-small text-muted mb-4">SR830 Actual Value</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-x">SR830 X value</label>
                    {% if connected %}
                    <input id="input-x" class="form-control" name="X" placeholder="N/A"
                           type="number" step="any" value="{{X}}" disabled/>
                    {% else %} <input id="input-x" class="form-control" name="X" placeholder="Disconnected"
                                      type="number"
                                      step="any" value="NA" disabled/>
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-y">SR830 Y value</label>
                    {% if connected %}
                    <input id="input-y" class="form-control" name="Y" placeholder="N/A"
                           type="number" step="any" value="{{Y}}" disabled/>
                    {% else %} <input id="input-y" class="form-control" name="Y" placeholder="Disconnected"
                                      type="number"
                                      step="any" value="NA" disabled/>
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-r">SR830 R value</label>
                    {% if connected %}
                    <input id="input-r" class="form-control" name="R" placeholder="N/A"
                           type="number" step="any" value="{{R}}" disabled/>
                    {% else %} <input id="input-r" class="form-control" name="R" placeholder="Disconnected"
                                      type="number"
                                      step="any" value="NA" disabled/>
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-o">SR830 θ value</label>
                    {% if connected %}
                    <input id="input-o" class="form-control" name="O" placeholder="N/A"
                           type="number" step="any" value="{{O}}" disabled/>
                    {% else %} <input id="input-o" class="form-control" name="O" placeholder="Disconnected"
                                      type="number"
                                      step="any" value="NA" disabled/>
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-sensitivity">CS580 Sensitivity</label>
                    {% if connected %}
                    <select name="sensitivity" id="input-sensitivity" class="form-control" disabled>
                      <option value="0" {% if sensitivity == 0 %}selected{% endif %}>2nV/fA</option>
                      <option value="1" {% if sensitivity == 1 %}selected{% endif %}>5nV/fA</option>
                      <option value="2" {% if sensitivity == 2 %}selected{% endif %}>10nV/fA</option>
                      <option value="3" {% if sensitivity == 3 %}selected{% endif %}>20nV/fA</option>
                      <option value="4" {% if sensitivity == 4 %}selected{% endif %}>50nV/fA</option>
                      <option value="5" {% if sensitivity == 5 %}selected{% endif %}>100nV/fA</option>
                      <option value="6" {% if sensitivity == 6 %}selected{% endif %}>200nV/fA</option>
                      <option value="7" {% if sensitivity == 7 %}selected{% endif %}>500nV/fA</option>
                      <option value="8" {% if sensitivity == 8 %}selected{% endif %}>1µV/pA</option>
                      <option value="9" {% if sensitivity == 9 %}selected{% endif %}>2µV/pA</option>
                      <option value="10" {% if sensitivity == 10 %}selected{% endif %}>5µV/pA</option>
                      <option value="11" {% if sensitivity == 11 %}selected{% endif %}>10µV/pA</option>
                      <option value="12" {% if sensitivity == 12 %}selected{% endif %}>20µV/pA</option>
                      <option value="13" {% if sensitivity == 13 %}selected{% endif %}>50µV/pA</option>
                      <option value="14" {% if sensitivity == 14 %}selected{% endif %}>100µV/pA</option>
                      <option value="15" {% if sensitivity == 15 %}selected{% endif %}>200µV/pA</option>
                      <option value="16" {% if sensitivity == 16 %}selected{% endif %}>500µV/pA</option>
                      <option value="17" {% if sensitivity == 17 %}selected{% endif %}>1mV/nA</option>
                      <option value="18" {% if sensitivity == 18 %}selected{% endif %}>2mV/nA</option>
                      <option value="19" {% if sensitivity == 19 %}selected{% endif %}>5mV/nA</option>
                      <option value="20" {% if sensitivity == 20 %}selected{% endif %}>10mV/nA</option>
                      <option value="21" {% if sensitivity == 21 %}selected{% endif %}>20mV/nA</option>
                      <option value="22" {% if sensitivity == 22 %}selected{% endif %}>50mV/nA</option>
                      <option value="23" {% if sensitivity == 23 %}selected{% endif %}>100mV/nA</option>
                      <option value="24" {% if sensitivity == 24 %}selected{% endif %}>200mV/nA</option>
                      <option value="25" {% if sensitivity == 25 %}selected{% endif %}>500mV/nA</option>
                      <option value="26" {% if sensitivity == 26 %}selected{% endif %}>1V/µA</option>
                    </select>
                    {% else %}
                    <input id="input-sensitivity" class="form-control" name="sensitivity" placeholder="N/A" type="text"
                           value="Disconnected" disabled/>
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-time-constant">CS580 Time Constant</label>
                    {% if connected %}
                    <select name="time_constant" id="input-time-constant" class="form-control" disabled>
                      <option value="0" {% if time_constant == 0 %}selected{% endif %}>10µs</option>
                      <option value="1" {% if time_constant == 1 %}selected{% endif %}>30µs</option>
                      <option value="2" {% if time_constant == 2 %}selected{% endif %}>100µs</option>
                      <option value="3" {% if time_constant == 3 %}selected{% endif %}>300µs</option>
                      <option value="4" {% if time_constant == 4 %}selected{% endif %}>1ms</option>
                      <option value="5" {% if time_constant == 5 %}selected{% endif %}>3ms</option>
                      <option value="6" {% if time_constant == 6 %}selected{% endif %}>10ms</option>
                      <option value="7" {% if time_constant == 7 %}selected{% endif %}>30ms</option>
                      <option value="8" {% if time_constant == 8 %}selected{% endif %}>100ms</option>
                      <option value="9" {% if time_constant == 9 %}selected{% endif %}>300ms</option>
                      <option value="10" {% if time_constant == 10 %}selected{% endif %}>1s</option>
                      <option value="11" {% if time_constant == 11 %}selected{% endif %}>3s</option>
                      <option value="12" {% if time_constant == 12 %}selected{% endif %}>10s</option>
                      <option value="13" {% if time_constant == 13 %}selected{% endif %}>30s</option>
                      <option value="14" {% if time_constant == 14 %}selected{% endif %}>100s</option>
                      <option value="15" {% if time_constant == 15 %}selected{% endif %}>300s</option>
                      <option value="16" {% if time_constant == 16 %}selected{% endif %}>1ks</option>
                      <option value="17" {% if time_constant == 17 %}selected{% endif %}>3ks</option>
                      <option value="18" {% if time_constant == 18 %}selected{% endif %}>10ks</option>
                      <option value="19" {% if time_constant == 19 %}selected{% endif %}>30ks</option>
                    </select>
                    {% else %}
                    <input id="input-time-constant" class="form-control" name="time_constant" placeholder="N/A"
                           type="text" value="Disconnected" disabled/>
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-slope">CS580 Slope</label>
                    {% if connected %}
                    <select name="slope" id="input-slope" class="form-control" disabled>
                      <option value="0" {% if time_constant == 0 %}selected{% endif %}>6 dB/oct</option>
                      <option value="1" {% if time_constant == 1 %}selected{% endif %}>12 dB/oct</option>
                      <option value="2" {% if time_constant == 2 %}selected{% endif %}>18 dB/oct</option>
                      <option value="3" {% if time_constant == 3 %}selected{% endif %}>24 dB/oct</option>
                    </select>
                    {% else %}
                    <input id="input-slope" class="form-control" name="slope" placeholder="N/A"
                           type="text" value="Disconnected" disabled/>
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-slope">CS580 Slope</label>
                    {% if connected %}
                    <select name="slope" id="input-slope" class="form-control" disabled>
                      <option value="0" {% if slope == 0 %}selected{% endif %}>6 dB/oct</option>
                      <option value="1" {% if slope == 1 %}selected{% endif %}>12 dB/oct</option>
                      <option value="2" {% if slope == 2 %}selected{% endif %}>18 dB/oct</option>
                      <option value="3" {% if slope == 3 %}selected{% endif %}>24 dB/oct</option>
                    </select>
                    {% else %}
                    <input id="input-slope" class="form-control" name="slope" placeholder="N/A"
                           type="text" value="Disconnected" disabled/>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-control-label" for="input-synch-filter">CS580 Synch Filter</label>
                  {% if connected %}
                  <input id="input-synch-filter" class="form-control" name="synch_filter" placeholder="N/A" type="text"
                         value="{% if synch_filter == '0' %}OFF{% else %}ON{% endif %}" disabled/>
                  {% else %}
                  <input id="input-synch-filter" class="form-control" name="synch_filter" placeholder="Disconnected"
                         type="text" value="Disconnected" disabled/>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <button type="submit" class="btn btn-sm btn-primary" name="update-all">Update
                  </button>
                </div>
              </div>
            </div>
            <hr class="my-4"/>
            <div class="col-12">
              <div class="row">
                <div class="col-6 text-right">
                  <a href="{% url 'home' %}" class="btn btn-sm btn-secondary">Back</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block javascripts %}
<script>
    // Get the form element
    const form = document.getElementById("sr_form");

    // Add an event listener to the form
    form.addEventListener("keydown", function (event) {
        // Check if the pressed key is "Enter" (keyCode for Enter is 13)
        if (event.keyCode === 13 || event.key === "Enter") {
            // Prevent the default form submission
            event.preventDefault();
        }
    });

    function LoggingFile(interval) {
        const csrfToken = $("input[name='csrfmiddlewaretoken']").val();

        // Include the CSRF token in the AJAX request headers
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": csrfToken,
            },
        });
        $.ajax({
            url: "{% url 'plot' %}", // URL mapped to the status view
            type: "POST",
            data: {changePage: false},
            dataType: "json",
            success: function (response) {
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
            },
            complete: function () {
                // Call the updatePlot function again after the specified interval
                setTimeout(function () {
                    LoggingFile(interval);
                }, interval);
            },
        });
    }

    LoggingFile(1000);
</script>
{% endblock javascripts %}
