<!-- mercury.html -->
{% extends 'layouts/base.html' %} {% block title %} Standford Current Sources {% endblock title %} {% block content %}
<!-- Page content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8"></div>
          </div>
        </div>
        <div class="card-body">
          {% if messages %} {% for message in messages %} {% if message.tags == 'info' %}
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% elif message.tags == 'warning' %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% elif message.tags == 'success' %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% elif message.tags == 'error' %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %} {% endfor %} {% endif %}

          <form method="post" action="{% url 'sx_page' %}">
            {% csrf_token %}
            <div class="col-12">
              <div class="row">
                <div class="col-6 text-right">
                  <a href="{% url 'home' %}" class="btn btn-sm btn-secondary">Back</a>
                </div>
              </div>
            </div>
            <hr class="my-4" />


            <h6 class="heading-small text-muted mb-4">SX199 & CS580 Configuration</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <button type="submit" class="btn btn-sm btn-primary" name="update-link-1">Update Link 1</button>
                </div>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-sm btn-primary" name="update-link-2">Update Link 2</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-gain-1">CS580 1 Gain</label>
                    <select name="gain1" id="input-gain-1" class="form-control"
                    {% if not connectedlink1 %}disabled{% endif %}>
                      <option value="0" {% if form.gain1.value == 0 %}selected{% endif %}>1nA</option>
                      <option value="1" {% if form.gain1.value == 1 %}selected{% endif %}>10nA</option>
                      <option value="2" {% if form.gain1.value == 2 %}selected{% endif %}>100nA</option>
                      <option value="3" {% if form.gain1.value == 3 %}selected{% endif %}>1µA</option>
                      <option value="4" {% if form.gain1.value == 4 %}selected{% endif %}>10µA</option>
                      <option value="5" {% if form.gain1.value == 5 %}selected{% endif %}>100µA</option>
                      <option value="6" {% if form.gain1.value == 6 %}selected{% endif %}>1mA</option>
                      <option value="7" {% if form.gain1.value == 7 %}selected{% endif %}>10mA</option>
                      <option value="8" {% if form.gain1.value == 8 %}selected{% endif %}>50mA</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-gain-2">CS580 2 Gain</label>
                    <select name="gain2" id="input-gain-2" class="form-control"
                    {% if not connectedlink2 %}disabled{% endif %}>
                      <option value="0" {% if form.gain2.value == 0 %}selected{% endif %}>1nA</option>
                      <option value="1" {% if form.gain2.value == 1 %}selected{% endif %}>10nA</option>
                      <option value="2" {% if form.gain2.value == 2 %}selected{% endif %}>100nA</option>
                      <option value="3" {% if form.gain2.value == 3 %}selected{% endif %}>1µA</option>
                      <option value="4" {% if form.gain2.value == 4 %}selected{% endif %}>10µA</option>
                      <option value="5" {% if form.gain2.value == 5 %}selected{% endif %}>100µA</option>
                      <option value="6" {% if form.gain2.value == 6 %}selected{% endif %}>1mA</option>
                      <option value="7" {% if form.gain2.value == 7 %}selected{% endif %}>10mA</option>
                      <option value="8" {% if form.gain2.value == 8 %}selected{% endif %}>50mA</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-input-1">CS580 1 Input</label>
                    <select class="form-control" name="input1" id="input-input-1"
                    {% if not connectedlink1 %}disabled{% endif %}>
                      <option value="0" {% if form.input1.value == 0 %}selected{% endif %}>OFF</option>
                      <option value="1" {% if form.input1.value == 1 %}selected{% endif %}>ON</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-input-2">CS580 2 Input</label>
                     <select class="form-control"name="input2" id="input-input-2"
                     {% if not connectedlink2 %}disabled{% endif %}>
                      <option value="0" {% if form.input2.value == 0 %}selected{% endif %}>OFF</option>
                      <option value="1" {% if form.input2.value == 1 %}selected{% endif %}>ON</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-speed-1">CS580 1 Speed</label>
                     <select class="form-control"name="speed1" id="input-speed-1"
                     {% if not connectedlink1 %}disabled{% endif %}>
                      <option value="0" {% if form.speed1.value == 0 %}selected{% endif %}>FAST</option>
                      <option value="1" {% if form.speed1.value == 1 %}selected{% endif %}>SLOW</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-speed-2">CS580 2 Speed</label>
                     <select class="form-control"name="speed2" id="input-speed-2"
                     {% if not connectedlink2 %}disabled{% endif %}>
                      <option value="0" {% if form.speed2.value == 0 %}selected{% endif %}>FAST</option>
                      <option value="1" {% if form.speed2.value == 1 %}selected{% endif %}>SLOW</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-shield-1">CS580 1 Inner Shield</label>
                     <select class="form-control"name="shield1" id="input-shield-1"
                     {% if not connectedlink1 %}disabled{% endif %}>
                      <option value="0" {% if form.shield1.value == 0 %}selected{% endif %}>GUARD</option>
                      <option value="1" {% if form.shield1.value == 1 %}selected{% endif %}>RETURN</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-shield-2">CS580 2 Inner Shield</label>
                     <select class="form-control"name="shield2" id="input-shield-2"
                     {% if not connectedlink2 %}disabled{% endif %}>
                      <option value="0" {% if form.shield2.value == 0 %}selected{% endif %}>GUARD</option>
                      <option value="1" {% if form.shield2.value == 1 %}selected{% endif %}>RETURN</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-isolation-1">CS580 1 Isolation</label>
                     <select class="form-control"name="isolation1" id="input-isolation-1"
                     {% if not connectedlink1 %}disabled{% endif %}>
                      <option value="0" {% if form.isolation1.value == 0 %}selected{% endif %}>GROUND</option>
                      <option value="1" {% if form.isolation1.value == 1 %}selected{% endif %}>FLOAT</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-isolation-2">CS580 2 Isolation</label>
                     <select class="form-control"name="isolation2" id="input-isolation-2"
                     {% if not connectedlink2 %}disabled{% endif %}>
                      <option value="0" {% if form.isolation2.value == 0 %}selected{% endif %}>GROUND</option>
                      <option value="1" {% if form.isolation2.value == 1 %}selected{% endif %}>FLOAT</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-output-1">CS580 1 Output</label>
                     <select class="form-control"name="output1" id="input-output-1"
                     {% if not connectedlink1 %}disabled{% endif %}>
                      <option value="0" {% if form.output1.value == 0 %}selected{% endif %}>OFF</option>
                      <option value="1" {% if form.output1.value == 1 %}selected{% endif %}>ON</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-output-2">CS580 2 Output</label>
                     <select class="form-control"name="output2" id="input-output-2"
                     {% if not connectedlink2 %}disabled{% endif %}>
                      <option value="0" {% if form.output2.value == 0 %}selected{% endif %}>OFF</option>
                      <option value="1" {% if form.output2.value == 1 %}selected{% endif %}>ON</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-curr-1">CS580 1 DC Current [A]</label>
                    <input id="input-curr-1" class="form-control" name="curr1" placeholder="CS580 1 DC Current value" type="number" step="any" value="{{ form.curr1.value }}"
                    {% if not connectedlink1 %}disabled{% endif %}/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-curr-2">CS580 2 DC Current [A]</label>
                    <input id="input-curr-2" class="form-control" name="curr2" placeholder="CS580 2 DC Current value" type="number" step="any" value="{{ form.curr2.value }}"
                    {% if not connectedlink2 %}disabled{% endif %}/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-volt-1">CS580 1 Voltage [V]</label>
                    <input id="input-volt-1" class="form-control" name="volt1" placeholder="CS580 1 Voltage value" type="number" step="any" value="{{ form.volt1.value }}"
                    {% if not connectedlink1 %}disabled{% endif %}/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-volt-2">CS580 2 Voltage [V]</label>
                    <input id="input-volt-2" class="form-control" name="volt2" placeholder="CS580 2 Voltage value" type="number" step="any" value="{{ form.volt2.value }}"
                    {% if not connectedlink2 %}disabled{% endif %}/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <button type="submit" class="btn btn-sm btn-primary" name="update-link-1">Update Link 1</button>
                </div>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-sm btn-primary" name="update-link-2">Update Link 2</button>
                </div>
              </div>
            </div>
            <hr class="my-4" />


            <h6 class="heading-small text-muted mb-4">CS580 Actual Value</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-gain-1">CS580 1 Gain</label>
                    {% if connectedlink1 %}
                    <select name="gain1" id="input-gain-1" class="form-control" disabled>
                      <option value="0" {% if form.gain1.value == 0 %}selected{% endif %}>1nA</option>
                      <option value="1" {% if form.gain1.value == 1 %}selected{% endif %}>10nA</option>
                      <option value="2" {% if form.gain1.value == 2 %}selected{% endif %}>100nA</option>
                      <option value="3" {% if form.gain1.value == 3 %}selected{% endif %}>1µA</option>
                      <option value="4" {% if form.gain1.value == 4 %}selected{% endif %}>10µA</option>
                      <option value="5" {% if form.gain1.value == 5 %}selected{% endif %}>100µA</option>
                      <option value="6" {% if form.gain1.value == 6 %}selected{% endif %}>1mA</option>
                      <option value="7" {% if form.gain1.value == 7 %}selected{% endif %}>10mA</option>
                      <option value="8" {% if form.gain1.value == 8 %}selected{% endif %}>50mA</option>
                    </select>
                    {% else %}
                    <input id="input-gain-1" class="form-control" name="gain1" placeholder="N/A" type="text" value="Disconnected" disabled />
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-gain-2">CS580 2 Gain</label>
                    {% if connectedlink2 %}
                    <select name="gain2" id="input-gain-2" class="form-control" disabled>
                      <option value="0" {% if form.gain2.value == 0 %}selected{% endif %}>1nA</option>
                      <option value="1" {% if form.gain2.value == 1 %}selected{% endif %}>10nA</option>
                      <option value="2" {% if form.gain2.value == 2 %}selected{% endif %}>100nA</option>
                      <option value="3" {% if form.gain2.value == 3 %}selected{% endif %}>1µA</option>
                      <option value="4" {% if form.gain2.value == 4 %}selected{% endif %}>10µA</option>
                      <option value="5" {% if form.gain2.value == 5 %}selected{% endif %}>100µA</option>
                      <option value="6" {% if form.gain2.value == 6 %}selected{% endif %}>1mA</option>
                      <option value="7" {% if form.gain2.value == 7 %}selected{% endif %}>10mA</option>
                      <option value="8" {% if form.gain2.value == 8 %}selected{% endif %}>50mA</option>
                    </select>
                    {% else %}
                    <input id="input-gain-2" class="form-control" name="gain2" placeholder="N/A" type="text" value="Disconnected" disabled />
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-input-1">CS580 1 Input</label>
                    {% if connectedlink1 %}
                    <input id="input-input-1" class="form-control" name="input1" placeholder="N/A" type="text" value="{% if input1 == '0' %}OFF{% else %}ON{% endif %}" disabled />
                    {% else %}
                    <input id="input-input-1" class="form-control" name="input1" placeholder="Disconnected" type="text" value="Disconnected" disabled />
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-input-2">CS580 2 Input</label>
                    {% if connectedlink2 %}
                    <input id="input-input-2" class="form-control" name="input2" placeholder="N/A" type="text" value="{% if input2 == '0' %}OFF{% else %}ON{% endif %}" disabled />
                    {% else %}
                    <input id="input-input-2" class="form-control" name="input2" placeholder="Disconnected" type="text" value="Disconnected" disabled />
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-speed-1">CS580 1 Speed</label>
                    {% if connectedlink1 %}
                    <input id="input-speed-1" class="form-control" name="speed1" placeholder="N/A" type="text" step="any" value="{% if speed1 == '0' %}FAST{% else %}SLOW{% endif %}" disabled />
                    {% else %}
                    <input id="input-speed-1" class="form-control" name="speed1" placeholder="Disconnected" type="text" step="any" value="Disconnected" disabled />
                    {% endif %}
                  </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-speed-2">CS580 2 Speed</label>
                  {% if connectedlink2 %}
                  <input id="input-speed-2" class="form-control" name="speed2" placeholder="N/A" type="text" step="any" value="{% if speed2 == '0' %}FAST{% else %}SLOW{% endif %}" disabled />
                  {% else %}
                  <input id="input-speed-2" class="form-control" name="speed2" placeholder="Disconnected" type="text" step="any" value="Disconnected" disabled />
                  {% endif %}
                </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-shield-1">CS580 1 Inner Shield</label>
                    {% if connectedlink1 %}
                    <input id="input-shield-1" class="form-control" name="shield1" placeholder="N/A" type="text" step="any" value="{% if shield1 == '0' %}GUARD{% else %}RETURN{% endif %}" disabled />
                    {% else %}
                    <input id="input-shield-1" class="form-control" name="shield1" placeholder="Disconnected" type="text" step="any" value="Disconnected" disabled />
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-shield-2">CS580 2 Inner Shield</label>
                    {% if connectedlink2 %}
                    <input id="input-shield-2" class="form-control" name="shield2" placeholder="N/A" type="text" step="any" value="{% if shield2 == '0' %}GUARD{% else %}RETURN{% endif %}" disabled />
                    {% else %}
                    <input id="input-shield-2" class="form-control" name="shield2" placeholder="Disconnected" type="text" step="any" value="Disconnected" disabled />
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-isolation-1">CS580 1 Isolation</label>
                    {% if connectedlink1 %}
                    <input id="input-isolation-1" class="form-control" name="isolation1" placeholder="N/A" type="text" step="any" value="{% if isolation1 == '0' %}GROUND{% else %}FLOAT{% endif %}" disabled />
                    {% else %}
                    <input id="input-isolation-1" class="form-control" name="isolation1" placeholder="Disconnected" type="text" step="any" value="Disconnected" disabled />
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-isolation-2">CS580 2 Isolation</label>
                    {% if connectedlink2 %}
                    <input id="input-isolation-2" class="form-control" name="isolation2" placeholder="N/A" type="text" step="any" value="{% if isolation2 == '0' %}GROUND{% else %}FLOAT{% endif %}" disabled />
                    {% else %}
                    <input id="input-isolation-2" class="form-control" name="isolation2" placeholder="Disconnected" type="text" step="any" value="Disconnected" disabled />
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-output-1">CS580 1 Output</label>
                    {% if connectedlink1 %}
                    <input id="input-output-1" class="form-control" name="output1" placeholder="N/A" type="text" step="any" value="{% if output1 == '0' %}OFF{% else %}ON{% endif %}" disabled />
                    {% else %}
                    <input id="input-output-1" class="form-control" name="output1" placeholder="Disconnected" type="text" step="any" value="Disconnected" disabled />
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-output-2">CS580 2 Output</label>
                    {% if connectedlink2 %}
                    <input id="input-output-2" class="form-control" name="output2" placeholder="N/A" type="text" step="any" value="{% if output2 == '0' %}OFF{% else %}ON{% endif %}" disabled />
                    {% else %}
                    <input id="input-output-2" class="form-control" name="output2" placeholder="Disconnected" type="text" step="any" value="Disconnected" disabled />
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-curr-1">CS580 1 Current [A]</label>
                    {% if connectedlink1 %}<input id="input-curr-1" class="form-control" name="curr1" placeholder="N/A" type="number" step="any" value="{{curr1}}" disabled />{% else %} <input id="input-curr-1" class="form-control" name="curr1" placeholder="Disconnected" type="number" step="any" value="NA" disabled /> {% endif %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-curr-2">CS580 2 Current [A]</label>
                    {% if connectedlink2 %}<input id="input-curr-2" class="form-control" name="curr2" placeholder="N/A" type="number" step="any" value="{{curr2}}" disabled />{% else %} <input id="input-curr-2" class="form-control" name="curr2" placeholder="Disconnected" type="number" step="any" value="NA" disabled /> {% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-volt-1">CS580 1 Voltage [V]</label>
                    {% if connectedlink1 %}<input id="input-volt-1" class="form-control" name="volt1" placeholder="N/A" type="number" step="any" value="{{volt1}}" disabled />{% else %} <input id="input-volt-1" class="form-control" name="volt1" placeholder="Disconnected" type="number" step="any" value="NA" disabled /> {% endif %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-volt-2">CS580 2 Voltage [V]</label>
                    {% if connectedlink2 %}<input id="input-volt-2" class="form-control" name="volt2" placeholder="N/A" type="number" step="any" value="{{volt2}}" disabled />{% else %} <input id="input-volt-2" class="form-control" name="volt2" placeholder="Disconnected" type="number" step="any" value="NA" disabled /> {% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <button type="submit" class="btn btn-sm btn-primary" name="update-link-1">Update Link 1</button>
                </div>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-sm btn-primary" name="update-link-2">Update Link 2</button>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <div class="col-12">
              <div class="row">
                <div class="col-6 text-right">
                  <a href="{% url 'home' %}" class="btn btn-sm btn-secondary">Back</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
